<!doctype html>
<html class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="../assets/tailwind.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'IBM Plex Sans'" class="bg-[#181818] h-full">
<div class="min-h-full flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96 bg-white/10 p-6 rounded-lg backdrop-blur-lg">
      <div>
        <img class="h-12 w-auto rounded-lg" src="<%= settings.logo %>" alt="">
        <h2 class="mt-6 text-3xl font-semibold text-white">Register an account</h2>
        <p class="mt-2 text-sm text-neutral-500">
          Please enter your details below.
        </p>
      </div>

      <div class="mt-8">
        <div class="mt-6">
          <form method="POST" action="/auth/register" class="space-y-6">
            <div>
              <label for="username" class="block text-sm font-medium text-neutral-400"> Username </label>
              <div class="mt-1">
                <input placeholder="example" id="username" name="username" autocomplete="username" required class="appearance-none block w-full px-3 py-2 bg-white/5 border border-white/10 rounded-lg shadow-sm placeholder-neutral-500 focus:outline-none focus:ring-neutral-500 focus:border-neutral-500 text-white transition sm:text-sm">
              </div>
            </div>

            <div>
              <label for="email" class="block text-sm font-medium text-neutral-400"> Email </label>
              <div class="mt-1">
                <input placeholder="example@domain.com" id="email" name="email" autocomplete="email" required class="appearance-none block w-full px-3 py-2 bg-white/5 border border-white/10 rounded-lg shadow-sm placeholder-neutral-500 focus:outline-none focus:ring-neutral-500 focus:border-neutral-500 text-white transition sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password" class="block text-sm font-medium text-neutral-400"> Password </label>
              <div class="mt-1">
                <input placeholder="********" id="password" name="password" type="password" autocomplete="new-password" required class="appearance-none block w-full px-3 py-2 bg-white/5 border border-white/10 rounded-lg shadow-sm placeholder-neutral-500 focus:outline-none focus:ring-neutral-500 focus:border-neutral-500 text-white transition sm:text-sm">
              </div>
            </div>

            <div>
              <button type="submit" class="w-full flex transition justify-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-neutral-800 bg-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-500">Register</button>
            </div>
            
            <% if (req.query.err && req.query.err == "InvalidCredentials") { %>
              <div class="mt-2"></div>
              <span class="text-amber-600 pt-4 font-normal text-sm">Invalid credentials. Please try again.</span>
            <% } %>
          </form>
        </div>
      </div>
      <div class="mt-6 text-sm text-neutral-500">
        Already have an account? <a href="/login" class="font-normal text-neutral-500 hover:text-white transition hover:scale-105">Sign in</a>
      </div>
      <div class="mt-6 text-sm text-neutral-500 flex justify-between">
        <a href="/privacy" class="font-normal text-neutral-500 hover:text-white transition hover:scale-105">
          <i class="fas fa-user-shield"></i> Privacy Policy
        </a>
        <a href="/tos" class="font-normal text-neutral-500 hover:text-white transition hover:scale-105">
          Terms of Service <i class="fas fa-file-contract"></i>
        </a>
      </div>
      
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="../assets/bg.jpg" alt="">
  </div>
  <script>
  async function submitForm() {
    let username = encodeURIComponent(document.getElementById("username").value);
    let password = encodeURIComponent(document.getElementById("password").value);
    document.location.href = `/auth/login?username=${username}&password=${password}`;
  }

  // Function to display PNotify alert
  function showAlert(type, text) {
    PNotify.info({
      title: "An error occured.",
      text: text,
      delay: 3000,
      styling: 'brighttheme',
      icons: 'brighttheme'
    });
  }

  // Check for URL parameters and display notifications
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('err')) {
      const err = urlParams.get('err');
      if (err === 'InvalidCredentials') {
        showAlert('error', 'Invalid credentials. Please try again.');
      } else if (err === 'UpdatedCredentials') {
        showAlert('success', 'Your account has been updated, please enter your new credentials.');
      }
    }
  });
</script>
</div>
</body>
</html>
