<div class="mt-8 ml-8 mb-8">
  <div>
    <div class="hidden sm:block">
      <nav class="flex">
        <ul role="list" class="flex min-w-full flex-none gap-x-2 text-sm font-normal leading-6 text-neutral-400">
          <li class=" transition">
            <a href="/admin/settings" class="nav-link2 py-2 px-3 transition border hover:bg-white/5 border-transparent hover:text-white hover:shadow rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mb-0.5 inline-flex mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
              </svg>                                                                   
              General
            </a>
          </li>
          <li class=" transition">
            <a href="/admin/settings/smtp" class="nav-link2 py-2 px-3 transition border hover:bg-white/5 border-transparent hover:text-white hover:shadow rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mb-0.5 inline-flex mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
              </svg>                                                                        
              SMTP
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

 <script>
   document.addEventListener("DOMContentLoaded", function() {
     var currentPagePath = window.location.pathname;
     var navLinks2 = document.querySelectorAll('.nav-link2');
     navLinks2.forEach(function(link) {
       var linkPath = new URL(link.getAttribute('href'), window.location.origin).pathname;
       console.log(currentPagePath);
       console.log(linkPath);
       if (currentPagePath === linkPath) {
         link.className = 'nav-link';
         link.classList.add('text-white', 'font-medium', 'border', 'border-transparent', 'bg-white/10', 'font-medium', 'py-2', 'px-3', 'rounded-full', 'shadow-sm');
       }
     });
   });
   </script>
   
