<div class="mt-8 ml-8 mb-8">
    <div>
       <div class="hidden sm:block">
          <nav class="flex">
             <ul role="list" class="flex min-w-full flex-none gap-x-2 text-sm font-normal leading-6 text-neutral-400">
                <li class="hover:scale-105 transition">
                   <a href="/admin/settings" class="nav-link2 py-2 px-2.5 transition border border-transparent hover:border-white/5 hover:text-white hover:shadow rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 mb-0.5 inline-flex mr-1">
                        <path fill-rule="evenodd" d="M2.25 5.25a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3V15a3 3 0 0 1-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 0 1-.53 1.28h-9a.75.75 0 0 1-.53-1.28l.621-.622a2.25 2.25 0 0 0 .659-1.59V18h-3a3 3 0 0 1-3-3V5.25Zm1.5 0v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5Z" clip-rule="evenodd" />
                      </svg>                                                          
                     Appearance
                  </a>
                </li>
             </ul>
          </nav>
       </div>
    </div>
 </div>
<!-- added icons -->
<script src="https://kit.fontawesome.com/4c967c0dcf.js" crossorigin="anonymous"></script>

 <script>
   document.addEventListener("DOMContentLoaded", function() {
     // Use window.location.pathname to focus on the path part of the URL
     var currentPagePath = window.location.pathname;
   
     // Get all navigation links
     var navLinks2 = document.querySelectorAll('.nav-link2');
   
     // Loop through each navigation link
     navLinks2.forEach(function(link) {
       // Get the href attribute of the link and adjust the relative path
       var linkPath = new URL(link.getAttribute('href'), window.location.origin).pathname;
   
       // Debugging outputs to see the paths being compared
       console.log(currentPagePath);
       console.log(linkPath);
   
       // Check if the current page path matches the link path
       if (currentPagePath === linkPath) {
         // Remove all existing classes
         link.className = 'nav-link';
   
         // Add the specified classes
         link.classList.add('text-white', 'font-semibold', 'border', 'border-transparent', 'bg-white/5', 'font-semibold', 'py-2', 'px-2.5', 'rounded-lg', 'shadow-sm');
       }
     });
   });
   </script>
   
