<%- include('../components/login') %>
<main id="content">
   <div class="px-4 sm:px-6 lg:px-8 text-gray-600"> <!-- Added text-gray-600 class to make text grey -->
      <h1 class="text-2xl font-semibold mb-4"></h1>
      <section class="mt-5">
         <div class="max-w-7xl mx-auto sm:px-6 lg:px-8"> <!-- Center content with max width -->
            <div class="p-3 bg-transparent shadow-xl border border-white/5 rounded-lg overflow-hidden sm:p-6 lg:p-10 card">
               <div class="lg:flex lg:items-center lg:justify-between">
                  <div class="min-w-0 flex-1">
                     <h2 class="text-md font-medium tracking-tight">
                        <span class="text-white font-bold">Terms and Conditions for <%= name %></span>
                     </h2>
                     <br>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor consequat arcu vel laoreet. Morbi id ultricies nulla. Sed rutrum, libero eget condimentum mattis, nisi nunc eleifend lectus, ac interdum odio enim non nisi. Donec vel nunc sit amet arcu aliquam venenatis at et felis. Maecenas lacinia, libero ut molestie lacinia, enim leo varius ante, non vulputate metus erat in odio.
                     </p>
                     <p>
                        Nulla malesuada, orci sed varius consequat, ante erat suscipit sem, eget lacinia sapien mauris vel odio. Aliquam sed vestibulum lacus. Duis auctor elementum enim, a eleifend eros venenatis ut. Aliquam porttitor magna sit amet eros aliquet suscipit. Donec malesuada, lectus id tristique accumsan, turpis ante hendrerit lorem, quis venenatis ante nisi nec nunc.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>

<%- include('../components/footer') %>
