<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Plugin</title>
</head>
<body>
    This is just a test what you could do whit the plugin system
</body>
</html>
