<%- include('components/template') %>
<main id="content">
   <div class="bg-transparent">
      <div class="sm:flex sm:items-center px-8 pt-4">
         <div class="sm:flex-auto">
            <h1 class="text-base font-medium leading-6 text-white">Manage Instance</h1>
            <p class="mt-1 tracking-tight text-sm text-neutral-500">View, update and manage an instance on the Skyport panel.</p>
         </div>
      </div>
   </div>

   <div class="flex justify-center items-center mt-52">
      <div class="text-center">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-16 w-16 text-yellow-500 mx-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
          </svg>
          
         <p class="mt-4 text-xl font-medium text-white">This instance is suspended.</p>
         <span class="mt-1 text-sm text-neutral-400">Please contact your administrators for further information.</span>
      </div>
   </div>
</main>
<%- include('../components/footer') %>